body{
    display: flex;
    background-color:black;
    background-size: cover;
    font-family:"Recursive", sans-serif;
}


.container{
background-color:#E0FFFF;
padding-left: 0;
display: flex;
margin-left: 20px;
margin-right: 100px;
max-width: fit-content;
border-radius: 10px;
}
.bgContainer{
background-color:black;
padding-left: 0;
display: flex;
margin-left: 20px;
margin-right: 100px;
max-width: 95%;
border-radius: 10px;
}
.bg1Container{
    margin-top: 15px;
    background-color:black;
    padding-left: 0;
    display: flex;
    margin-left: 20px;
    margin-right: 100px;
    max-width: 95%;
    border-radius: 10px;
}
.wings{
    font-weight: bold;
    color: rgb(128,128,128)	;
    padding: 10px;
    margin-left: 10px;
    font: size 10px;
}
.matter{
    font-weight: bold;
    margin-left: 20px;
}
.p{
    color:rgb(128,128,128)	;
    margin-left: 20px;
}
.button{
    margin-left: 20px;
}
.heading{
    color:white;
    padding: 8px;
}
.image{
    border-radius: 10px;
}
.name{
  color: white;
  margin-left: 20px;
}
.authorName{
    color: white;
    margin-left: 20px;
}
.homeValue{
    display: flex;
    justify-content: center;
    color: white;
    padding: 5px;
    margin-left: 400px;
}
.homeValuee{
    display: flex;
    justify-content: center;
    color: white;
    margin-top: 30px;
    margin-left: 400px;
}
#hi{
    margin-right: 5px;
}
